# misc
*.log
*.log
.cache
.DS_Store

npm-debug.log*
.eslintcache
package-lock.json
stats.html

# dependencies
node_modules

# production
dist/
core/esm
all.json
sn-table-ext

# testing
coverage
test/rendering/artifacts
test/rendering/test-report
test/rendering/state.json
test/integration/artifacts
test/integration/test-report
test/integration/state.json
#pack files
build

# editor directories and files
.vscode
