# misc
*.log
*.log
.cache
.DS_Store

.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
package-lock.json
stats.html

# dependencies
node_modules

# production
dist/
core/esm
all.json
sn-table-ext

# testing
coverage
test/rendering/artifacts
test/rendering/test-report
test/rendering/state.json
#pack files
*.tgz
build
