version: 2

defaults: &defaults
  working_directory: ~/table
  # Available images https://hub.docker.com/r/circleci/node/tags/

aliases:
  - &restore_yarn_cache
    name: Restore yarn cache
    keys:
      - yarn-packages-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - yarn-packages-{{ .Branch }}
      - yarn-packages-
  - &save_yarn_cache
    name: Save yarn cache
    paths:
      - ~/.cache/yarn
    key: yarn-packages-{{ .Branch }}-{{ checksum "yarn.lock" }}
  - &filter_master
    branches:
      only: master
  - &attach
    at: ~/project

jobs:
  install:
    <<: *defaults
    docker:
      - image: circleci/node:14.15.0
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run: 
          name: Install dependencies
          command: yarn install --frozen-lockfile 
      - save_cache: *save_yarn_cache

      - store_artifacts:
          path: package.json

      - persist_to_workspace:
          root: ~/table
          paths:
            - .

  build:
    <<: *defaults
    docker:
      - image: circleci/node:14.15.0
      - image: qlikcore/engine:12.1126.0
        command: -S AcceptEULA=yes
      - image: browserless/chrome:1.49.1-puppeteer-1.20.0
    steps:
      - attach_workspace:
          at: ~/table
      - run:
          name: Build
          command: yarn run build
      - run:
          name: Lint
          command: yarn run lint
      - run:
          name: Locale
          command: yarn run locale:verify
      - run:
          name: Update spec
          command: yarn run spec
      - run:
          name: Run unit tests and publish to codeclimate
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
            ./cc-test-reporter before-build
            yarn test:unit -- --mocha.bail false
            ./cc-test-reporter after-build --coverage-input-type lcov --exit-code $?
      - store_artifacts:
          path: coverage
      #  - run:
      #      name: Integration tests
      #      command: |
      #       DocId=$(curl -s --data-binary @data/apps/org-chart-test.qvf http://localhost:9076/v1/apps/import | jq -r '.attributes.id')
      #        APP_ID=$DocId yarn run test:integration --chrome.browserWSEndpoint "ws://localhost:3000" --no-launch
      # - store_artifacts:
      #     path: ./test/integration/__artifacts__
      - persist_to_workspace:
          root: ~/table
          paths:
            - dist
            - package.json
            - core

  publish-dev:
    <<: *defaults
    docker:
      - image: circleci/node:14.15.0
    steps:
      - attach_workspace:
          at: ~/table
      - run: mv ./dist sn-table && zip -r "sn-table.zip" "./sn-table"
      - store_artifacts:
          path: ./sn-table.zip

  publish:
    <<: *defaults
    docker:
      - image: circleci/node:14.15.0
    steps:
      - attach_workspace:
          at: ~/table
      - run:
          name: Setup npm
          command: |
            set -eo pipefail
            # Amend auth token for access to public npm registry for @nebula.js packages
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Publish
          command: |
            set -euo pipefail
            PROJ_VER=v$(cat package.json | jq -r '.version')
            TAG_NAME=$(git tag --points-at HEAD)

            if [ "$TAG_NAME" == "$PROJ_VER" ]
            then
              echo "Running >> npm publish"
              npm publish
            fi
  api-governance:
    machine: true
    working_directory: ~/project
    steps:
      - checkout
      - attach_workspace:
          at: ~/project
      - run:
          name: Log into Github Docker Registry
          command: |
              echo $QLIK_DOCKER_DEV_PASSWORD | docker login -u $QLIK_DOCKER_DEV_USERNAME --password-stdin $QLIK_DOCKER_DEV_REGISTRY
      - run:
          name: Create version.txt
          command: |
              set -x
              if [ -n "${CIRCLE_TAG}" ]; then
                  version=${CIRCLE_TAG#v}
              else
                  version=$(git describe --tags --abbrev=7 --match "v*")
                  version=${version#v}
              fi
              echo "$version" > ./version.txt
              echo "Building $version"
      - run:
          name: Prepare API Compliance
          command: |
            docker pull ghcr.io/qlik-trial/api-compliance
            docker create -v /specs --name specs alpine:3.4 /bin/true
            docker cp  ./api-specifications/properties.json specs:/specs
      - run:
          name: Run API Compliance
          command: >
            VER=$(cat ./version.txt)

            docker run --volumes-from specs
            -e SPEC_PATHS="b96971ec-2f58-4ba3-9213-440e689471a0@/specs/properties.json"
            -e COMMIT_SHA="$CIRCLE_SHA1"
            -e RELEASE_TAG="$VER"
            -e CREDENTIALS_S3_SECRETKEY="$APICULTURIST_S3"
            -e CREDENTIALS_GITHUB="$APICULTURIST_GITHUB"
            -e CREDENTIALS_COLONY="$APICULTURIST_TOKEN"
            ghcr.io/qlik-trial/api-compliance
workflows:
  version: 2
  build-all:
    jobs:
      - install
      - build:
          requires:
            - install
      - api-governance:
          context: deploy-secrets
          filters:
            branches:
              # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
              ignore: /pull\/[0-9]+/
            tags:
              only:
                - /v.*/
      - publish-dev:
          requires:
            - build
      - publish:
          requires:
            - build
          filters:
            branches:
              only:
                - main
