body {
  font-family: Arial;
  color: #404040;
  background: #eee;
  margin: 12px;
}

#selections {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.filter {
  width: 100%;
  height: 200px;
}

.object {
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 4px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  height: 600px;
  width: 100%;
}
